.SubTotals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 200px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
}
@media screen and (max-width:767px){
    .SubTotals  {
        max-width: 250px;
        max-height: 200px;
        margin-left: 20px;
      
       
      }
}
.SubTotals > p{
    margin-bottom: 10px;
}
@media screen and (max-width:767px){
    .SubTotals>h1  {
       font-size: 27px;
       
      }
}
.SubTotals > button{
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 174, 46) ;
}