.SubTotals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: white;
    margin-bottom: 20px;
    padding:20px   
}
@media screen and (max-width:767px){
    .SubTotals  {
        max-width: 180px;
        max-height: 170px;
        margin-left: 10px;
      }
}
.SubTotals > p{
    margin-bottom: 10px;
}
@media screen and (max-width:767px){
    .SubTotals>h1  {
       font-size: 27px;
      }
}
.SubTotals > button{
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 174, 46) ;
}